.card__main {
    @include bg-gradient($grey-light, $white);
    padding-bottom: 30px;
    @media all and (min-width: $tablet) {
        display: flex;
        padding: 20px 40px 20px 20px;
        flex-grow: 1;
    }
}

.form__container {
    padding: 0 20px;
    @media all and (min-width: $tablet) {
        max-width: 399px;
    }
}