.collapsable  {
  border: none;
  border-bottom: solid 1px $grey-line;
  //padding: 0 0 30px;
}

.collapsable__header {
  cursor: pointer;
  padding: 10px 0;
  @include flex-center;
  @media all and (min-width: $tablet) {
    width: 330px;
  }
}

.collapsable__title {
  flex-grow: 1;
  @include font-lg;
  color: $color-text;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 0;
}

.collapsable__item {
  //height: 0;
  padding: 0;
//   overflow: hidden;
  opacity: 1;
//   transition: opacity linear 0.5s;
 
}

.collapsable--visible {
  height: auto;
  padding: 0 0 30px;
  opacity: 1;
}

.collapsable--rotate {
  transform: rotate(180deg);
}

.collapsable--hidden{
  display: none;
}
