.card-preview {
  @include bg-gradient($silver, $grey-pale);
  @include flex-center();
  @media all and (min-width: $tablet) {
    order: 2;
    flex-grow: 1;
    border-radius: 6px;
  }
}

.card-preview__container {
  margin: 0 40px;
  padding: 40px 0;
  max-width: 240px;
}

.preview-card {
  background-color: $white;
  padding: 20px 0 10px;
  margin-top: 20px;
}

.preview-card__title-container {
  margin: 0 0 10px;
  font-family: $font-montserrat;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: $green-dark;
  }
  .preview-card__name,
  .preview-card__career {
    margin: 0;
    margin-left: 20px;
    max-width: 200px;
    overflow: hidden;
    word-break: break-word;
  }
  .preview-card__name {
    font-size: $txt-lg;
    color: $green-dark;
  }
  .preview-card__career {
    font-size: $txt-md;
    color: $color-text;
  }
}

.preview-card__img {
  width: 240px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.preview-card__social-list {
  list-style: none;
  display: flex;
  margin: 10px 0 2px 20px;
}

.social-list__icon {
  font-size: 18px;
}

.social-list__item {
  border: 2px solid $green-light;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  margin-right: 10px;
  @include flex-center();
}

.social-list__link {
  @include link-none($green-dark);
}

/*estilos en colores verdes*/
.preview-card-green {
  .preview-card__title-container {
    &:before {
      background-color: $green-dark;
    }
    .preview-card__name {
      color:$green-dark;
    }
    .preview-card__career {
      color: $color-text;
    }
  }
  .social-list__item {
    border: 2px solid $green-light;
  }
  .social-list__link {
    @include link-none($green-dark);
  }
}

/*estilos en colores rojos*/
.preview-card-red {
  .preview-card__title-container {
    &:before {
      background-color:$red;
    }
    .preview-card__name {
      color:$red-dark;
    }
  }
  .social-list__item {
    border: 2px solid $tomato;
  }
  .social-list__link {
    @include link-none($red-dark);
  }
}

/*estilos en colores amarillos*/
.preview-card-yellow {
  .preview-card__title-container {
    &:before {
      background-color:$yellow;
    }
    .preview-card__name {
      color:$blue-dark;
    }
  }
  .social-list__item {
    border: 2px solid $blue-light;
  }
  .social-list__link {
    @include link-none($blue-dark);
  }
}
.button__text{
  margin-left: 8px;
}
