.txt__landind--lg {
  margin: 0;
  font-size: $txt-xl;
  font-family: $font-merriweather;
  color: $color-landing-title;
  @media all and (min-width: $tablet) {
    font-size: $txt-xxl;
  }
}

.txt__landing--md {
  margin: 0;
  font-size: $txt-sm;
  font-family: $font-open;
  @media all and (min-width: $tablet) {
    font-size: $txt-md;
  }
}


.txt__color--orange {
  color: $orange;
}

.txt__color--grey-dark {
  color: $grey-dark;
}

/*buttons*/
.button--start {
  display: inline-block;
  width: 129px;
  height: 42px;
  font-size: $txt-md;
  @include button-format ($color-bg-landing-button, 21px, none);
  @include link-none ($color-text-button);
  @include flex-center();
}

.button-card {
  @include button-reset();
  padding: 15px;
  font-size: $txt-lg;
  @include button-format ($color-bg-card-button, 12px, $box-shadow-button-card);
  @include link-none ($color-text-button);
}

.button-card--check {
  background-color: $grey-off;
}

.button-img {
  @include button-reset();
  width: 140px;
  height: 30px;
  font-size: $txt-sm;
  @include button-format ($color-bg-card-button, 3px, $box-shadow-button);
  @include link-none ($color-text-button);
}

.button-twitter {
  @include button-reset();
  padding: 5px 10px;
  font-size: $txt-sm;
  display: inline-block;
  @include button-format ($blue-twitter, 3px, $box-shadow-button);
  @include link-none ($color-text-button);
}

.button--reset {
  @include button-reset();
  padding: 5px 10px;
  border-radius: 15px;
  border: solid 1px $white;
  color: $grey-dark;
  font-family: $font-open;
  font-size: $txt-sm;
}

//common
.hidden {
  display: none;
}

.not-available{
  background-color: $grey-off;
}
